@tailwind base;
@tailwind components;
@tailwind utilities;


.content {
    max-width: 1200px;
    margin: auto;
}

nav {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    border: transparent;
}

.product-card {
    border-radius: 10px;
}

.product-card:hover .cart {
    visibility: visible;
}


.product-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.cart {
    visibility: hidden;
    cursor: pointer;
}

.modal-size {
    background-color: #fff;
    outline: none;
    position: absolute;
    min-height: 400px;
    min-width: 500px;
    border-radius: 0.6rem;


    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;

    transform: translate(-50%, -50%);
}

@media (width < 600px) {
    .modal-size {
        min-width: 363px;
    }
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgb(207, 207, 207);
    color: rgb(156, 156, 156);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
    cursor: pointer;
    border-radius: 5px;
    min-height: 34px;
    font-size: 16px;
    min-width: 80px;
    padding: 6px;



}

.filter-btn:hover {
    transition: 0.3s ease-in-out;
    background-color: rgb(248, 248, 248);
}

.del-filter-btn {
    border: 1px solid rgb(239, 79, 95);
    color: rgb(255, 255, 255);
    background-color: rgb(239, 79, 95);
    box-shadow: rgba(54, 54, 54, 0.06) 0px 1px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    min-height: 34px;
    font-size: 16px;
    min-width: 80px;
    padding: 6px;
    gap: 10px;


}

.del-filter-btn:hover {

    background-color: rgb(224, 53, 70);
}

.filter-tab-active {
    background: #ffff;
    border-left: 4px solid rgb(255, 126, 139);
    transition: 0.5s ease-in-out;
}

//loader styling 
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: rgba(0, 77, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

//loader styles ends here